<ion-header>
  <ion-toolbar>
    <ion-title style="font-weight: bold;">Tus Tarjetas</ion-title>
    <ion-buttons slot="end">      
      <ion-button  (click)="verClima()" fill="clear" >
        <ion-icon name="cloud" slot="icon-only"></ion-icon>
      </ion-button>
 
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <br>
  
  
 
  
    
    <div>    
    <ion-label style="padding: 15px;">DEBITO</ion-label>
  </div>
 <ion-card *ngFor="let item of debito; let i=index" >
    <ion-card-header>  
      <ion-item>
        <ion-card-subtitle>{{item.cod | tarjeta}}</ion-card-subtitle>         
          <ion-button color="dark" slot="end" *ngIf="item.movimiento.length>0" (click)="verMovimiento(item.movimiento)" >
            <ion-icon name="create"></ion-icon>
            </ion-button>        
      </ion-item>      
        <ion-card-title>US$ {{item.monto}}</ion-card-title>              
    </ion-card-header>      
       <ion-card-content>
      Caduca: {{item.vence | fecha}}  
    </ion-card-content>   
  </ion-card>

 <br>
  <div>    
    <ion-label style="padding: 15px;">CREDITO</ion-label>
  </div>
    <ion-card  *ngFor="let item of credito; let i=index">
    <ion-card-header>   
      <ion-item>
        <ion-card-subtitle>{{item.cod | tarjeta}}</ion-card-subtitle>  
        <ion-button color="dark" slot="end" *ngIf="item.movimiento.length>0" (click)="verMovimiento(item.movimiento)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-item>   
          
        <ion-card-title>USS {{item.monto}}</ion-card-title> 
        
    </ion-card-header>    
    <ion-card-content>
      <ion-card-subtitle>disponible: US$ 0.0</ion-card-subtitle>  
     último día de pago: {{item.vence | fecha}}  
    </ion-card-content>
  </ion-card>  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button  (click)="onEventSelected()">
      <ion-icon name="cash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
